*{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

img{
    width: 15px;
    object-fit: contain;
}

body{
    display: grid;
    grid-template-areas:"header header header"
                        "article main aside"
                        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 5fr 1fr;
    text-align: center;
    min-height: 100vh;
    align-items: start;
    vertical-align: top;
    margin: auto;
}

header{
    grid-area: header;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: end;
    height: fit-content;
}

header img{
    width: 100px;
    margin: 0 auto 15px auto;
}

#LDLabel{
    text-align: end;
    margin: 0 10% 0 auto;
}

#LD{
    justify-self: center;
    background-color: #f0f0f0;
    display: flex;
    width: 50px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 12% 0 auto;
    border-radius: 20px;
    border-width: 2px;
    border-color: #000;
    border-style: solid;
    cursor: pointer;
    grid-area: ld;
}

#LDRails{
    display: flex;
    background-color: #9b9b9b;
    width: 35px;
    height: 12px;
    border-radius: 25px;
    align-items: center;
}

#knob{
    background-color: #3e3e3e;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    position: relative;
}

.move-right {
    margin-left: auto;
}

article{
    grid-area: article;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
    display: grid;
    grid-template-areas:"h1"
                        "form"
                        "represent";
    grid-template-rows: repeat(3, auto);
    vertical-align: top;
    align-self: start;
    /* margin: auto; */
}

footer{
    grid-area: footer;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    margin: auto 0;
    padding: 15px 0;
    margin-top: auto;
    margin-bottom: 0;
    align-items: center;

}
footer p{
    align-self: flex-start;
}
h1{
    grid-area: h1;
    text-align: center;
    padding: 15px 0 35px 0 ;
    font-size: 20px;
    margin: 0 0 0 0;
}

form{
    grid-area: form;
    display: grid;
    grid-template-areas: "span1"
                         "span2"
                         "btn";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

.firstSpan{
    align-self: center;
    justify-self: center;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    text-align: left;
    /* justify-content: flex-end; */
    width: 80%;
}

#span1{
    grid-area: span1;
}

#addTaskLabel{
    width: 27%;
    padding-right: 3%;
    margin: 0 auto;
    line-height: 28px;
    height: 28px;
    font-size: 16px;
}

#addTask{
    width: 70%;
    line-height: 28px;
    height: 28px;
    font-size: 16px;
    border-radius: 7px;
}

#span2{
    grid-area: span2;
}

#pickDateLabel{
    width: 27%;
    padding-right: 13%;
    margin: 0 auto;
    line-height: 28px;
    height: 28px;
    font-size: 16px;
}

#pickDate{
    width: 45%;
    line-height: 28px;
    height: 28px;
    font-size: 16px;
    border-radius: 7px;
}

#prio{
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    width: 70%;
}

#prioMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    display: none;
    width: 22.4%;
    z-index: 10;
}

#pickPrio{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.7px;
    width: 55%;
    justify-self: end;
    margin-left: 10%;
}

.prioItemImage{
    display: flex;
    justify-self: flex-end;
    /* margin-left: auto; */
}

.prioMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-style: solid;
    border-radius: 8px;
    border-width: 1.6px;
    display: none;
}

.prioItems{
    display: flex;
    align-items: center;
    justify-content: start;
    padding:  7px 12px;
    border-radius: 7px;
}

#submitBtn{
    grid-area: btn;
    margin: 0 auto 30px auto;
    border-radius: 12px;
    padding: 3px 15px;
    background-color: #c5e4d8;
    font-size: large;
    font-weight: 500;
    border-width: 2px;
}

#represent{
    grid-area: represent;
    display: grid;
    grid-template-areas: "sort"
    "taskList";
}

#sortfilter{
    grid-area: sort;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: #828282 solid 1px;
    border-bottom: #828282 solid 1px;
    gap: 2%;
}

.sortSelector{
    width: 10px;
    height: 15px;
    padding-right: 1%;
}

.sortLabel{
    width: 100%;
    display: flex;
    align-items: center;
    /* margin: 1px 1%; */
}

.filterTouch{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

#filterPanel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: rgba(197,228,216);
    padding: 28px 0 15px 0;
    width: 270px;
    transform: translateX(-245px);
    border-radius: 12px 0 12px 12px;
    display: none;
    z-index: 1;
}

.filterElement{
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 15px;
    gap: 5px;
}


#filterApply{
    width: 40%;
    margin: auto;
    border-radius: 7px;
    font-weight: 500;
}

#taskList{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 80vw;
    padding-bottom: 60px;
}

.taskItems{
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    gap: 10px;
    /* border-bottom: #000 solid 1px; */
    margin: 5px 0;
}
 input{
    background-color: #fff;
 }

.taskCheck{
    display: inline-flex;
    border-radius: 150px;
    border-color: #c5e4d8;
    border-style: solid;
    border-width: 15px;
}

.taskName{
    border: #000 solid 1px;
    width: 40vw;
    text-indent: 5px;
    border-radius: 7px;
    background-color: #fff;
    color: #000;
    text-align: left;
}

.taskPrio{
    border: #000 solid 1px;
    padding: 2px 5px 2px 5px;
    border-radius: 6px;
    width: 15px;
    aspect-ratio: 1;
}

.dateTime{
    border: #000 solid 1px;
    width: 20vw;
    text-indent: 5px;
    border-radius: 7px;
}

.settingsTouch{
    position: relative;
    display: flex;
}

.settingsimg{
    position: relative;
    border: #000 solid 1px;
    padding: auto;
    border-radius: 7px;
    padding: 3px 2px;
    height: 12px;
    background-color: #fff;
}

/* Settings panel */

.settingsPanel{
    flex-direction: column;
    position: absolute;
    background-color: rgba(197,228,216);
    padding: 20px 0 0 0;
    transform: translateY(0px) translateX(0px);
    border-radius: 0 10px 10px 10px;
    z-index: 500;
    display: none;
}

.settingsItems{
    padding: 2px 10px;
    /* overflow: hidden; */
}

.editSpan{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2%;
    width: 75vw;
}

.addTask2{
    width: 45%;
    border-radius: 7px;
    height: 22px;
    text-indent: 4px;
}

.pickDate2{
    display: flex;
    width: 25%;
    border-radius: 7px;
    height: 22px;
}

.prio2{
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    width: 25%;
}

.pickPrio2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.7px;
    width: 100%;
}

.prioMenu2{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.6px;
    display: none;
    width: 17%;
    align-items: flex-start;
}

.prioItems2{
    padding:  3px 7% 5px 3%;
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 7px;
    text-align: left;
}

.pickPrio2Image{
    display: block;
    align-self: center;
    padding-left: 5px;
}

.btnedit-discard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
}

.btnedit-confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
}

@media screen and (max-width: 669px) , screen and (orientation:portrait){
   body{
    display: grid;
    grid-template-areas:"header header header"
                        "article main aside"
                        "footer footer footer";
    grid-template-columns: 1fr 6fr 1fr;
    text-align: center;
   }

   header img{
    width: 85px;
    margin: 0 auto 20px auto;
    }

    h1{
        font-size: 16px;
    }

    form{
        grid-area: form;
        display: grid;

        grid-template-areas: "span1"
                             "span2"
                             "btn";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
    }

    .firstSpan{
        align-self: center;
        justify-self: center;
        /* padding: 10px 0; */
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        /* justify-content: flex-end; */
        width: 100%;
    }

    #span2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* margin-left: 3%; */
    }

    #addTaskLabel{
        width: 80%;
        /* padding-right: 3%; */
        line-height: 24px;
        height: 24px;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    #addTask{
        width: 80%;
        line-height: 24px;
        height: 24px;
        font-size: 14px;
        border-radius: 7px;
        padding: 0;
        margin: 0;
    }

    #pickDateLabel{
        width: 80%;
        /* padding-right: 3%; */
        /* margin: 0 auto; */
        line-height: 24px;
        height: 24px;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    #pickDate{
        width: 80%;
        line-height: 24px;
        height: 24px;
        font-size: 14px;
        border-radius: 7px;
        margin: 0;
        padding: 0;
    }

    #prio{
        display: flex;
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 30px 0;
        font-size: 14px;
    }

    #prioMenu{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #f1f1f1;
        border-style: solid;
        border-radius: 8px;
        border-width: 1.6px;
        width: 67%;
        transform: translateY(65px);
        display: none;
    }

    .prioItems{
        display: flex;
        align-items: center;
        justify-content: start;
        padding:  7px 12px;
        border-radius: 7px;
    }

    #submitBtn{
        grid-area: btn;
        margin: 0 auto 30px auto;
        border-radius: 12px;
        padding: 3px 15px;
        background-color: #c5e4d8;
        font-size: large;
        font-weight: 500;
        border-width: 2px;
    }

    article{
        display: none;
    }
    aside{
        display: none;
    }

    #pickPrio{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-radius: 7px;
        border-width: 1.7px;
        width: 80%;
        margin: 0;
        margin-left: 0;
        padding: 4px 0;
    }

    #represent{
        grid-area: represent;
        display: grid;
        grid-template-areas: "sort"
        "taskList";
    }

    #sortfilter{
        grid-area: sort;
        display: flex;
        align-self: center;
        justify-self: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-top: #828282 solid 1px;
        border-bottom: #828282 solid 1px;
        gap: 2%;
        width: 90%;
    }

    .sortSelector{
        width: 10px;
        height: 15px;
        padding-right: 1%;
    }

    .sortLabel{
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        /* margin: 1px 1%; */
    }

    .filterTouch{
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
    }

    #filterPanel{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        background-color: rgba(197,228,216);
        padding: 28px 0 15px 0;
        width: 270px;
        transform: translateX(-245px);
        border-radius: 12px 0 12px 12px;
        display: none;
        z-index: 1;
    }

    .filterElement{
        display: flex;
        align-items: center;
        padding: 5px 10px 5px 15px;
        gap: 5px;
    }

    #filterApply{
        width: 40%;
        margin: auto;
        border-radius: 7px;
        font-weight: 500;
    }

    #taskList{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        align-self: center;
        justify-self: center;
        margin: 0 20px 10px 20px;
    }

    .taskItems{
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        gap: 10px;
        /* border-bottom: #000 solid 1px; */
        margin: 9px 55px;
    }

     input{
        background-color: #f5f5f5;
     }
    
    .taskCheck{
        display: inline-flex;
        border-radius: 150px;
        border-color: #c5e4d8;
        border-style: solid;
        border-width: 15px;
    }
    
    .taskName{
        border: #000 solid 1px;
        width: 50vw;
        text-indent: 5px;
        border-radius: 7px;
        background-color: #fff;
        color: #000;
        text-align: left;
        font-size: 14px;
    }
    
    .taskPrio{
        border: #000 solid 1px;
        padding: 2px 5px 2px 5px;
        border-radius: 6px;
        width: 15px;
        aspect-ratio: 1;
    }
    
    .dateTime{
        border: #000 solid 1px;
        width: 15vw;
        text-indent: 0;
        border-radius: 7px;
        font-size: 10px;
    }
    
    .settingsTouch{
        position: relative;
        display: flex;
    }
    
    .settingsimg{
        position: relative;
        border: #000 solid 1px;
        padding: auto;
        border-radius: 7px;
        padding: 3px 2px;
        height: 12px;
        background-color: #fff;
    }
    
    /* Settings panel */
    
    .settingsPanel{
        flex-direction: column;
        position: absolute;
        background-color: rgba(197,228,216);
        padding: 20px 0 0 0;
        transform: translateY(0px) translateX(0px);
        border-radius: 0 10px 10px 10px;
        z-index: 500;
        display: none;
    }

    .settingsItems{
        padding: 2px 10px;
        /* overflow: hidden; */
    }
    
    .editSpan{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2%;
        width: 75vw;
    }

    .addTask2{
        width: 45%;
        border-radius: 7px;
        height: 22px;
        text-indent: 4px;
    }

    .pickDate2{
        display: flex;
        width: 25%;
        border-radius: 7px;
        height: 22px;
    }

    .prio2{
        display: flex;
        justify-self: flex-end;
        justify-content: flex-end;
        width: 25%;
    }

    .pickPrio2{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-radius: 7px;
        border-width: 1.7px;
        width: 100%;
    }

    .prioMenu2{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #f1f1f1;
        border-style: solid;
        border-radius: 7px;
        border-width: 1.6px;
        display: none;
        width: 17%;
        align-items: flex-start;
    }

    .prioItems2{
        padding:  3px 7% 5px 3%;
        display: flex;
        align-items: center;
        width: 90%;
        border-radius: 7px;
        text-align: left;
    }

    .pickPrio2Image{
        display: block;
        align-self: center;
        padding-left: 5px;
    }

    .btnedit-discard{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 50px;
    }

    .btnedit-confirm{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 50px;
    }
}

/*                Light               */
.lightMode{
    background-color: #fff;
    color: #000000;

}

.lightMode header{
    background-color: #2C2C2C;
    color: #f0f0f0;
}

.lightMode footer{
    background-color: #2C2C2C;
    color: #f0f0f0;
}

.lightMode li{
    background-color: #fff;
    color: #000000;
}

.lightMode .filterElement{
    background-color: inherit;
    color: #000;
}

.lightMode .settingsItems{
    background-color: inherit;
    color: #000;
}

.lightMode .prioMenu{
    background-color: #2C2C2C;
}

.lightMode .prioMenu2{
    background-color: #2C2C2C;
}


/*                Dark               */
.darkMode{
    background-color: #2C2C2C;
    color: #f0f0f0;

}

.darkMode header{
    background-color: #000;
    color: #f0f0f0;
}

.darkMode footer{
    background-color: #000;
    color: #f0f0f0;
}

.darkMode li{
    background-color: #2C2C2C;
    color: #f0f0f0;
}

.darkMode .taskViewSpan{
    background-color: #2C2C2C;
    color: #f0f0f0;
}

.darkMode .filterElement{
    background-color: rgba(197,228,216);
    color: #000;
}

.darkMode .taskPrio{
    background-color: #fff;
}

.darkMode .prioMenu{
    background-color: #fff;
}

.darkMode .settingsItems{
    background-color: inherit;
    color: #000;
}

.darkMode .prioMenu2{
    background-color: #f1f1f1;
}



/* Hovers */
.filterElement:hover{
    background-color: #9b9b9b;
}

#knob:hover{
    transform: scale(1.15);
}

.pickPrio:hover{
    cursor: pointer;
}

.prioItems:hover{
    background-color: #9b9b9b;
    cursor: pointer;
    color: #f1f1f1;
}

#submitBtn:hover{
    cursor: pointer;
}

.filterTouch:hover{
    cursor: pointer;
}

#filterApply:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.settingsimg:hover{
    cursor: pointer;
}

.settingsItems:hover{
    background-color: #9b9b9b;
    cursor: pointer;
    border-radius: 7px;
}

.pickPrio2:hover{
    cursor: pointer;
}

.prioItems2:hover{
    background-color: #9b9b9b;
    cursor: pointer;
    color: #f1f1f1;
}

