*{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* -----Header----- */
header{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

header img{
    position: relative;
    margin: 15px auto 0 auto;
    justify-self: center;
    align-self: flex-end;
    min-width: 100px;
    max-height: 20vh;
}

#LDLabel{
    text-align: end;
    padding-right: 10px;
}

#LD{
    justify-self: flex-end;
    background-color: #f0f0f0;
    display: flex;
    width: 50px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 22px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #000;
    border-style: solid;
    cursor: pointer;
}

#LDRails{
    display: flex;
    background-color: #9b9b9b;
    width: 35px;
    height: 12px;
    border-radius: 25px;
    align-items: center;
}

#knob{
    background-color: #3e3e3e;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    position: relative;
}

.move-right {
    margin-left: auto;
    transition: 12s;
}


#knob:hover{
    transform: scale(1.15);
}
/* ------ /Header --------- */


#mainH1{
    text-align: center;
    margin: 18px 0;
}


/* --------- Form ------ */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-bottom: 20px;
    width: 80%;
}

.firstSpan{
    margin: 12px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 67%;
}

.mainLabel{
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

#addTask{
    display: inline-block;
    width: 70%;
    border-radius: 7px;
    height: 22px;
}


#pickDateLael{
    margin-left: auto;
}

#pickDate{
    display: inline-block;
    width: 250px;
    border-radius: 7px;
    height: 22px;
}

.prio{
    /* display: flex; */
    margin-left: auto;
    justify-self: flex-end;
    align-self: flex-end;
    /* align-items: end; */
}

.pickPrio{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 3px 20px;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.7px;
}

.pickPrio:hover{
    cursor: pointer;
}

.prioItemImage{
    display: flex;
    justify-self: flex-end;
    /* margin-left: auto; */
}

.prioMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.6px;
    display: none;
}

.prioItems{
    display: flex;
    align-items: center;
    padding:  7px 12px;
}

.prioItems:hover{
    background-color: #9b9b9b;
    cursor: pointer;
    color: #f1f1f1;
}

#submitBtn{
    margin-top: 30px;
    border-radius: 12px;
    padding: 3px 15px;
    background-color: #c5e4d8;
    font-size: large;
    font-weight: 500;
    border-width: 2px;
}

#submitBtn:hover{
    cursor: pointer;
}
/* ------ /form -------- */



#represent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



/* ----- Sort & Filter ------- */
#sortfilter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    border-top: #828282 solid 1px;
    border-bottom: #828282 solid 1px;
}

.sortSelector{
    width: 10px;
    height: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

.sortLabel{
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.filterTouch{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.filterTouch:hover{
    cursor: pointer;
}

#filterPanel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: rgba(197,228,216,0.8);
    padding: 28px 0 15px 0;
    width: 19vw;
    transform: translateX(-270px);
    border-radius: 12px 0 12px 12px;
    display: none;
    z-index: 1;
}

.filterElement{
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 15px;
    gap: 5px;
}

.filterElement:hover{
    background-color: #9b9b9b;
}

#filterApply{
    width: 40%;
    margin: auto;
    border-radius: 7px;
    font-weight: 500;
}

#filterApply:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* -----Tasks List---- */

#taskList{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 80vw;
    padding-bottom: 60px;
}

.taskItems{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 10px 8px 10px;
    border-bottom: #000 solid 1px;
    margin: 5px 0;
}

.taskCheck{
    display: inline-flex;
    border-radius: 150px;
    border-color: #c5e4d8;
    border-style: solid;
    border-width: 15px;
}

.taskName{
    border: #000 solid 1px;
    width: 40vw;
    text-indent: 5px;
    border-radius: 7px;
}

.taskPrio{
    border: #000 solid 1px;
    padding: 2px 5px 2px 5px;
    border-radius: 6px;
    width: 15px;
    aspect-ratio: 1;
}

.dateTime{
    border: #000 solid 1px;
    width: 20vw;
    text-indent: 5px;
    border-radius: 7px;
}

.settingsTouch{
    position: relative;
    display: flex;
}

.settingsimg{
    position: relative;
    border: #000 solid 1px;
    padding: auto;
    border-radius: 7px;
    padding: 3px 2px;
    height: 12px;
}

.settingsimg:hover{
    cursor: pointer;
}

/* Settings panel */

.settingsPanel{
    flex-direction: column;
    position: absolute;
    background-color: rgba(197,228,216,0.8);
    padding: 20px 0 0 0;
    transform: translateY(0px) translateX(0px);
    border-radius: 0 10px 10px 10px;
    z-index: 500;
    display: none;
}

.settingsItems{
    padding: 2px 10px;
    /* overflow: hidden; */
}

.settingsItems:hover{
    background-color: #9b9b9b;
    cursor: pointer;
    border-radius: 7px;
}

/* -------- Edit prio --------- */
.prio2{
    display: flex;
    align-self: flex-end;
    margin: auto;
}

.pickPrio2{
    text-align: center;
    justify-content: center;
    padding: 2px 20px;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.7px;
    min-width: 100px;
}

.pickPrio2:hover{
    cursor: pointer;
}

.prioMenu2{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.6px;
    transform: translateY(-35px);
    display: none;
}

.prioItems2{
    padding:  3px 12px 5px 12px;
}

.prioItems2:hover{
    background-color: #9b9b9b;
    cursor: pointer;
    color: #f1f1f1;
}

.pickPrio2Image{
    display: block;
    align-self: center;
    padding-left: 5px;
}

.editSpan{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btnedit-discard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
}

.btnedit-confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
}

.addTask2{
    display: inline-block;
    width: 70%;
    border-radius: 7px;
    height: 22px;
}

.pickDate2{
    display: flex;
    width: 250px;
    border-radius: 7px;
    height: 22px;
}
/* ------ /tasks list -------- */

/* ----- footer ------ */
footer{
    text-align: center;
    margin-top: auto;
    padding: 8px 0;
}


/* ------ Media queries ------- */
/* 2XL+ */
@media screen and (min-width: 1081px){
    #addTask{
        width: 800px;
        height: 35px;
        font-size: 16px;
        text-indent: 15px;
    }
    #pickDate{
        width: 250px;
        height: 35px;
        /* margin-left: 33px; */
        padding-left: 25px;
        font-size: 16px;
    }
    #pickPrio{
        height: 31px;
        width: 150px;
        align-items: center;
    }
    #prioMenu{
        width: 190px;
        transform: translatey(-45px);
    }
    #submitBtn{
        padding: 10px 20px;
        border-radius: 22px;
        font-size: 25px;
    }
    #sortfilter{
        gap: 70px;
        font-size: 18px;
        padding: 3px 0;
        margin: 20px 180px;
    }
    #LDLabel{
        margin-right: 160px;
    }
    #LD{
        margin-right: 182px;
    }
    .firstSpan{
        margin-left: auto;
        margin-right: 15vw;
    }
    #represent{
        margin-bottom: 150px;
    }
    .taskName{
        display: table-cell;
        align-self: center;
        font-size: 18px;
        height: 28px;
        width: 450px;
        margin: auto;
        vertical-align: middle;
        line-height: 28px;
    }
    .taskPrio{
        width: 25px;
    }
    .dateTime{
        width: 150px;
        line-height: 28px;
    }
    .addTask2{
        width: 500px;
        height: 28px;
        line-height: 28px;
        font-size: 16;
        text-indent: 5px;
    }
    .prio2{
        width: fit-content;
        display: block;
    }
    .pickPrio2{
        display: flex;
        align-items: flex-start;
        text-align: right;
        height: 24px;
        line-height: 26px;
        font-size: 16px;
        padding: 2px 8px 2px 9px;
    }
    .editSpan{
        width: 800px;
    }
    .pickDate2{
        width: 240px;
        text-indent: 5px;
        height: 28px;
    }
    .settingsimg{
        height: 14px;
        align-self: center;
    }
}
/* Extra Large */
@media screen and (min-width: 979.1px) and (max-width: 1080px){
    #addTask{
        width: 500px;
        height: 30px;
        font-size: 16px;
        text-indent: 10px;
    }

    #pickDate{
        width: 200px;
        height: 30px;
        /* margin-left: 33px; */
        padding-left: 20px;
        font-size: 16px;
    }

    #pickPrio{
        height: 27px;
        width: 130px;
        align-items: center;
    }
    #prioMenu{
        width: 170px;
        transform: translateY(-36px);
    }

    #submitBtn{
        padding: 7px 14px;
        border-radius: 17px;
        font-size: 20px;
    }

    #sortfilter{
        gap: 40px;
        font-size: 18px;
        padding: 3px 0;
        margin: 20px 60px;
    }
    #filterPanel{
        transform: translateX(-215px);
        font-size: 15px;
        width: 230px;
    }

    #LDLabel{
        margin-right: 140px;
    }
    #LD{
        margin-right: 162px;
    }
    .firstSpan{
        margin-left: auto;
        margin-right: auto;
    }
    #represent{
        margin-bottom: 200px;
    }
    .taskName{
        font-size: 18px;
        height: 28px;
        width: 450px;
        margin: auto;
        vertical-align: middle;
        line-height: 28px;
    }
    .taskPrio{
        width: 25px;
    }
    .dateTime{
        width: 150px;
        line-height: 28px;
    }
    .addTask2{
        width: 500px;
        height: 28px;
        line-height: 28px;
        font-size: 16;
        text-indent: 5px;
    }
    .prio2{
        width: fit-content;
        display: block;
    }
    .pickPrio2{
        display: flex;
        align-items: flex-start;
        text-align: right;
        height: 24px;
        line-height: 26px;
        font-size: 16px;
        padding: 2px 8px 2px 9px;
    }
    .editSpan{
        width: 800px;
    }
    .pickDate2{
        width: 240px;
        text-indent: 5px;
        height: 28px;
    }
    .settingsimg{
        height: 14px;
        align-self: center;
    }
}
/* Large */
@media screen and (min-width: 769px) and (max-width: 979px){
    #addTask{
        width: 550px;
        height: 25px;
        font-size: 14px;
        text-indent: 7px;
        line-height: 25px;
    }

    #pickDate{
        width: 200px;
        height: 25px;
        /* margin-left: 33px; */
        font-size: 14px;
        line-height: 25px;
        text-indent: 2px;
    }

    #pickPrio{
        line-height: 25px;
        height: 21px;
        width: 90px;
        align-items: center;
        font-size: 14px;
    }
    #prioMenu{
        width: 130px;
        transform: translateY(-30px);
    }

    #submitBtn{
        padding: 4px 8px;
        border-radius: 10px;
        font-size: 16px;
        margin-bottom: -10px;
    }

    #sortfilter{
        gap: 20px;
        font-size: 14px;
        padding: 3px 0;
        margin: 10px 40px;
    }
    #filterPanel{
        transform: translateX(-215px);
        font-size: 15px;
        width: 230px;
    }

    #LDLabel{
        margin-right: 140px;
    }
    #LD{
        margin-right: 162px;
    }
    .firstSpan{
        margin: 5px auto;
    }
    #represent{
        margin-bottom: 150px;
    }
    .taskName{
        font-size: 14px;
        height: 22px;
        width: 450px;
        margin: auto;
        vertical-align: middle;
        line-height: 22px;
    }
    .taskPrio{
        width: 19px;
        height: 19px;
    }
    .dateTime{
        width: 150px;
        line-height: 22px;
        height: 22px;
        font-size: 14px;
    }
    .addTask2{
        width: 500px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        text-indent: 5px;
    }
    .prio2{
        width: fit-content;
        display: block;
    }
    .pickPrio2{
        display: flex;
        align-items: flex-start;
        text-align: right;
        height: 24px;
        line-height: 26px;
        font-size: 16px;
        padding: 2px 8px 2px 9px;
    }
    .editSpan{
        width: 800px;
    }
    .pickDate2{
        width: 240px;
        text-indent: 5px;
        height: 28px;
    }
    .settingsimg{
        height: 14px;
        align-self: center;
    }
    form{
        width: 100%;
    }
}