*{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* -----Header----- */
header{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

header img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    align-self: flex-end;
    min-width: 150px;
    max-height: 30vh;
    aspect-ratio: 1;
}

#LDLabel{
    text-align: end;
    padding-right: 10px;
}

#LD{
    justify-self: flex-end;
    background-color: #f0f0f0;
    display: flex;
    width: 50px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 22px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #000;
    border-style: solid;
    cursor: pointer;
}

#LDRails{
    display: flex;
    background-color: #9b9b9b;
    width: 35px;
    height: 12px;
    border-radius: 25px;
    align-items: center;
}

#knob{
    background-color: #3e3e3e;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    position: relative;
}

.move-right {
    margin-left: auto;
    transition: 12s;
}


#knob:hover{
    transform: scale(1.15);
}
/* ------ /Header --------- */


#mainH1{
    text-align: center;
    margin: 18px 0;
}


/* --------- Form ------ */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-bottom: 20px;
    width: 80%;
}

.firstSpan{
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 67%;
}

.mainLabel{
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

#addTask{
    display: inline-block;
    width: 70%;
    border-radius: 7px;
    height: 22px;
}

#pickDate{
    display: inline-block;
    width: 250px;
    border-radius: 7px;
    height: 22px;
}

.prio{
    margin-left: auto;
    justify-self: flex-end;
    align-self: flex-end;
}

.pickPrio{
    text-align: center;
    justify-content: right;
    margin-right: auto;
    margin-left: auto;
    padding: 2px 20px;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.7px;
}

.pickPrio:hover{
    cursor: pointer;
}

.prioMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.6px;
    display: none;
}

.prioItems{
    padding:  3px 12px 5px 12px;
}

.prioItems:hover{
    background-color: #9b9b9b;
    cursor: pointer;
    color: #f1f1f1;
}

#submitBtn{
    margin-top: 10px;
    border-radius: 12px;
    padding: 3px 15px;
    background-color: #c5e4d8;
    font-size: large;
    font-weight: 500;
    border-width: 2px;
}

#submitBtn:hover{
    cursor: pointer;
}
/* ------ /form -------- */



#represent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



/* ----- Sort & Filter ------- */
#sortfilter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
}

.sortSelector{
    width: 10px;
    height: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

.sortLabel{
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.filterTouch{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.filterTouch:hover{
    cursor: pointer;
}

#filterPanel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    transform: translateX(-240px);
    background-color: rgba(197,228,216,0.8);
    padding: 28px 0 15px 0;
    width: 35vw;
    transform: translateX(-215px);
    border-radius: 12px 0 12px 12px;
    display: none;
}

.filterElement{
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 15px;
    gap: 5px;
}

.filterElement:hover{
    background-color: #9b9b9b;
}

#filterApply{
    width: 40%;
    margin: auto;
    border-radius: 7px;
    font-weight: 500;
}

#filterApply:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* -----Tasks List---- */

#taskList{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 80vw;
    padding-bottom: 60px;
}

.taskItems{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-bottom: #000 solid 1px;
    border-top: #000 solid 1px;
    margin: 5px 0;
}

.taskCheck{
    display: inline-flex;
    border-radius: 150px;
    border-color: #c5e4d8;
    border-style: solid;
    border-width: 15px;
}

.taskName{
    border: #000 solid 1px;
    width: 40vw;
    text-indent: 5px;
    border-radius: 7px;
}

.taskPrio{
    border: #000 solid 1px;
    padding: 2px 5px 2px 5px;
    border-radius: 6px;
    width: 15px;
    aspect-ratio: 1;
}

.dateTime{
    border: #000 solid 1px;
    width: 20vw;
    text-indent: 5px;
    border-radius: 7px;
}

.settingsTouch{
    position: relative;
    display: flex;
}

.settingsimg{
    position: relative;
    border: #000 solid 1px;
    padding: auto;
    border-radius: 7px;
    padding: 3px 2px;
    height: 12px;
}

.settingsimg:hover{
    cursor: pointer;
}

/* Settings panel */

.settingsPanel{
    flex-direction: column;
    position: absolute;
    background-color: rgba(197,228,216,0.8);
    padding: 20px 0 0 0;
    transform: translateY(0px) translateX(0px);
    border-radius: 0 10px 10px 10px;
    z-index: 500;
    display: none;
}

.settingsItems{
    padding: 2px 10px;
    /* overflow: hidden; */
}

.settingsItems:hover{
    background-color: #9b9b9b;
    cursor: pointer;
    border-radius: 7px;
}

/* -------- Edit prio --------- */
.prio2{
    margin-left: auto;
    justify-self: flex-end;
    align-self: flex-end;
}

.pickPrio2{
    text-align: center;
    justify-content: right;
    margin-right: auto;
    margin-left: auto;
    padding: 2px 20px;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.7px;
    min-width: 100px;
}

.pickPrio2:hover{
    cursor: pointer;
}

.prioMenu2{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-style: solid;
    border-radius: 7px;
    border-width: 1.6px;
    display: none;
}

.prioItems2{
    padding:  3px 12px 5px 12px;
}

.prioItems2:hover{
    background-color: #9b9b9b;
    cursor: pointer;
    color: #f1f1f1;
}

.editSpan{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 70vw;
}

.btnedit-discard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
}

.btnedit-confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
}

.addTask2{
    display: inline-block;
    width: 70%;
    border-radius: 7px;
    height: 22px;
}

.pickDate2{
    display: inline-block;
    width: 250px;
    border-radius: 7px;
    height: 22px;
}
/* ------ /tasks list -------- */

/* ----- footer ------ */
footer{
    text-align: center;
    margin-top: auto;
    padding: 8px 0;
}


/* ------ Media queries ------- */

@media screen and (min-width: 768px){
    
}