
* {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

#add-todo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

header{
    background-color: #E7F4FA;
    display: flex;
}

header img{
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.add-task{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input{
    display: inline-block;
    padding-inline-start: 2%;
    width: 250px;
    height: 22px;
    border-radius: 5px;
    border-width: 1px;
}

form label{
    display: inline-block;
    text-align: right;
    width: 150px;
    padding-right: 15px;
    padding-left: auto;
}

.add-span{
    margin-left: -2px;
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: center;
    transform: translateX(-8%);
}

#priority{
    text-align: left;
    width: 257px;
    height: 22px;
    border-radius: 5px;
    padding: 0px;
    padding-inline-start: 1%;
    transform: translateX(0%);
    display: none;
}

#priority:hover{
    cursor: pointer;
}

.add-task button{
    width: fit-content;
    justify-self: center;
    margin: auto;
    margin-top: 3%;
    padding: 2px 8px 1px 8px;
    border-radius: 8px;
    background-color: #4BE154;
    font-weight: 700;
    margin-bottom: 5vh;
}

.replist{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 8%;
    gap: 22px;
    padding: 5vh;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #000000;
}

.represent{
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 8px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px dotted;
    align-items: start;
    padding-right: 10px;
}

.daterep{
    min-width: 15vw;
    max-width: fit-content;
    min-height: 21px;
    border-radius: 8px;
    border-width: 1px;
    padding-inline-start: 4px;
    display: none;
}

.edit{
    border-radius: 15px;
    height: 20px;
    display: none;
}

.checkbox input{
    margin: 0;
    padding: 0;
    width: 15px;
    height: 22px;
}

.checkbox input:hover{
    cursor: pointer;
}

.taskname{
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding: 0 5px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    min-width: 35vw;
    max-width: 100vw;
    min-height: 22px;
}

.priorityshow{
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    min-height: 22px;
    padding: 0 5px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    width: 12vw;
    max-width: fit-content;
    display: none;
}

button:hover{
    cursor: pointer;
}